Shanu_QuizWcfService/shanuWhosinURMind/Service References/ShanuQuizServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shanu_QuizWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shanu_QuizWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfwhosInYourMinDataContract.CharacterTypeDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="whosInYourMinDataContract.CharacterTypeDataContract" nillable="true" type="tns:whosInYourMinDataContract.CharacterTypeDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfwhosInYourMinDataContract.CharacterTypeDataContract" nillable="true" type="tns:ArrayOfwhosInYourMinDataContract.CharacterTypeDataContract" />
  <xs:complexType name="whosInYourMinDataContract.CharacterTypeDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Char_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Character_Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="whosInYourMinDataContract.CharacterTypeDataContract" nillable="true" type="tns:whosInYourMinDataContract.CharacterTypeDataContract" />
  <xs:complexType name="whosInYourMinDataContract.CharacterNameDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Char_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Char_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Char_Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="whosInYourMinDataContract.CharacterNameDataContract" nillable="true" type="tns:whosInYourMinDataContract.CharacterNameDataContract" />
</xs:schema>